projects/transfer-learning/flower-photos.zip
projects/transfer-learning/flower_photos
projects/transfer-learning/VGGTransferLearning1.pt
projects/transfer-learning/VGGTransferLearning.pt
projects/Classification
projects/Machine-Learning
sentiment analysis
